<launch>
    <arg name="gui" default="true"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85_model.xacro'"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
    <node name="rviz" pkg="rviz" type="rviz"/>
</launch>
